// Colors
$menuBlue :#00309f;
$menuBlack:black;
$font:Arial;
$carouselHeadline:white;
$mainParagraph:#666666;
$cityColor: #021f57;
$travelHeadline:#38bdff;
$disShadow:rgba(0, 47, 157, 1);
$grayShadow:#f0f0f0;
$height12px:-12px;
$height4px:-4px;